<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">SkillShare</a>
    <button class="toggle" id="menuToggle">&#9776;</button>
    <ul class="nav-links" id="navLinks">
      <li><a href="/inscription">Inscription</a></li>
      <li><a href="/connexion">Connexion</a></li>
      <li><a href="/competences">Compétences</a></li>
    </ul>
  </div>
</nav>
