<nav class="navbar">
  <div class="container">
    <a href="/" class="logo">SkillShare</a>
    <button class="toggle">&#9776;</button>
    <ul class="nav-links">
      <li><a href="/SignUp">SignUp</a></li>
      <li><a href="/Login">Login</a></li>
      <li><a href="/Skills">Skills</a></li>
    </ul>
  </div>
</nav>
