body {
  background: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: monospace;
  font-style: oblique;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}
