body {
  background: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: monospace;
  font-style: oblique;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.message-container,
.acces-messages {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  animation: fadeIn 0.6s ease-out;
}

#verify-msg,
#access-msg {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}
