<head>
  <link
    rel="stylesheet"
    href="<%= process.env.SITE_URL %>/assets/styles/home/home.css"
  />
</head>

<section class="home">
  <div class="glass-effect"></div>
  <div class="skill-particles" id="particles"></div>

  <h1>Welcome to SkillShare</h1>
  <p>
    The next-generation platform where you can learn new skills and share your
    expertise with others. Not connected yet? Join us today and start your
    journey towards mastering new skills and sharing your expertise with others.
  </p>

  <div class="scroll-indicator">
    <div style="font-size: 1.5rem">↓</div>
  </div>
</section>
